add_newline = false

[line_break]
disabled = true

[battery]
disabled = true

#[character]
#success_symbol = "[](bold green)"
#error_symbol = "[](bold red)"
#vicmd_symbol = "[](bold green)"

[cmd_duration]

[directory]
truncation_length = 3

#[elixir]
#symbol = " "
#disabled = true
#
#[elm]
#symbol = " "
#disabled = true
#
#[haskell]
#disabled = true
#
#[git_branch]
#symbol = " "
#
#[git_commit]
#disabled = false
#commit_hash_length = 4
#
#[git_state]
#disabled = true
#
#[git_status]
#conflicted = "=${count}"
#ahead = "⇡${count}"
#behind = "⇣${count}"
#diverged = "⇕⇡${ahead_count}⇣${behind_count}"
#untracked = "?${count}"
#stashed = "\\$${count}"
#modified = "!${count}"
#staged = "+${count}"
#renamed = "»${count}"
#deleted = "✘${count}"
#
#[gcloud]
#disabled = true
#
#[golang]
#disabled = true
#
#[hostname]
#
#[jobs]
#
#[kubernetes]
#symbol = " "
#disabled = true
#format = '[$symbol$context( \($namespace\))](bold green) '
#
#[lua]
#symbol = " "
#lua_binary = "luajit"
#
#[nix_shell]
#disabled = true
#
#[memory_usage]
#disabled = true
#
#[java]
#symbol = " "
#
#[julia]
#
#[nim]
#
#[nodejs]
#symbol = " "
#
#[package]
#symbol = " "
#disabled = true
#
#[php]
#symbol = " "
#
#[python]
#symbol = " "
#disabled = true
#
#[ruby]
#symbol = " "
#
#[rust]
#symbol = " "
#
#[scala]
#symbol = " "
#
#[terraform]
#symbol = " "
#format = "via [$symbol$version]($style)"

[time]
disabled = true


[aws]
symbol = "  "
disabled = true

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "
disabled = true

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "
disabled = true

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = "  "

[git_branch]
symbol = " "

[git_commit]
tag_symbol = '  '
disabled = false
commit_hash_length = 4


[git_status]
conflicted = "=${count}"
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?${count}"
stashed = "\\$${count}"
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "✘${count}"

[golang]
symbol = " "
disabled = true

[kubernetes]
disabled = true
symbol = "󱃾 "
format = '[$symbol$context( \($namespace\))](bold green) '

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "
disabled = true

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "
disabled = true

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[gradle]
symbol = " "
